
.container{
    height: 95vh;
    width: 100%;
    background-color: #021d02;
    display:flex;
}

.container2{
    width: 75%;
    height: 92vh;
    background-color: #ffffff;
    margin: 10 10 10 350;
    position: absolute;
    z-index: 1;
    color: #021d02;
}
.container1{
    height: 60vh;
    width: 30%;
    background-image: url(WhatsApp%20Image%202021-01-03%20at%2009.39.39.jpeg);
    background-size: cover;
    margin-left: 50px;
    transform: translatey(20%);
    box-shadow: 0 0 0 15px #021d02, 0 0 0 25px #ffa500;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
}
h6{
    margin-top: 570px;
    margin-left: 160px;
    font-size: 30px;
    font-family: inherit;
    color: #ffffff;
    font-weight: 100;
}
h2{
    margin-left: 550px;
    font-size: 30px;
}
h1{
    margin-left: 500px;
    font-size: 60px;
    font-family:inherit;
    transform: translateY(-80%);
}
.sub{
    display: flex;
    transform: translateY(-150%);
}
h3{
    font-size: 30px;
    margin-top: 0px;

}
h4{
    margin-left: 420;
    margin-top: 8px;
        margin-right: 10px;
}
#one{
    margin-left: 10px;
}
h5{
    margin-left: 530px;
    border-bottom: 5px solid #ffa500;
    width: 10%;
    text-align: center;
    transform: translateY(-520%);
    font-size: 15px;
    font-weight: 900;
    
}
.wordart{
    margin-left: 500px;
    font-weight: 900;
    display: flex;
    transform: translateY(-180%);
    font-size: 25px;
   
}
#a{
    transform:  translatey(30%)rotate(15deg);
}

#b{
    transform:  translatey(45%)rotate(20deg);
}
#c{
    transform:  translatey(55%)rotate(20deg);
}
#d{
    transform:  translatey(65%)rotate(20deg);
}

#e{
    transform:  translatey(70%)rotate(20deg);
}
#f{
    transform:  translatey(75%)rotate(10deg);
}
#g{
    transform:  translatey(80%)rotate(10deg);
}
#h{
    transform:  translatey(88%)rotate(7deg);
}
#i{
    transform:  translatey(90%)rotate(5deg);
}
#j{
    transform:  translatey(85%)rotate(-8deg);
}
#k{
    transform:  translatey(80%)rotate(-8deg);
}
#l{
    transform:  translatey(70%)rotate(-8deg);
}
#m{
    transform:  translatey(70%)rotate(-10deg);
}
#n{
    transform:  translatey(60%)rotate(-20deg);
}
#o{
    transform:  translatey(50%)rotate(-15deg);
}
#p{
    transform:  translatey(40%)rotate(-20deg);
}
.new{
    margin-left: 420px;
    display: flex;
    font-size: 30px;
    border-bottom: 3px solid #021d02;
    border-top: 3px solid #021d02;
    width: 31%;
    text-align: center;
    transform: translateY(-140%)
}
.x{
margin-right: 20px;
}
.y{
    margin-right: 20px;
}
.z{
    
}
.main{
    
    font-size: 40px;
    font-family:monospace;
    
}
#q{
    margin-left: 470px;
    
    
}
#r{
    margin-left: 390px;

}
#s{
    margin-left: 540px;
}
#t{
    margin-left: 350px;
}













